		<div id="cursors">
	    	<!-- The mouse pointers will be created here -->
		</div>
		
		<canvas id="paper" width="1490" height="400">
			canvas should be supported by your browser
		</canvas>
		
		<hgroup id="instructions">		
			<h1>Touch to start!</h1>
		</hgroup>