<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
</head>
<body>
   <div class="container" style="margin-top: 50px;text-align: center;">
    
        <span style="float: right;"><a href="/home">          <button class="btn" style="background-color: #343a40;color: white; border-radius: 4px;border:2px solid #343a40">Home</button></a></span>
    <h1 style="color: #343a40;">Add Group</h1><br><br><br>
       <form action="/dashboard" method="post">
        <div style="margin-bottom: 20px;text-align: center;">
          <input type="text" name="company"  style="text-align: center;width: 40%;border-radius: 5px;border:2px solid #343a40; color: #343a40;height: 45px;" placeholder="Group Name">
        </div>
        <div style="margin-bottom: 20px;text-align: center;">
          <input type="text" name="city"  style="text-align: center;width: 40%;border-radius: 5px;border:2px solid #343a40; color: #343a40;height: 45px;" placeholder="City Name">
        </div>
        <div style="margin-bottom: 20px;text-align: center;">
          <input type="password" name="passcode"  style="text-align: center;width: 40%;border-radius: 5px;border:2px solid #343a40; color: #343a40;height: 45px;" placeholder="Passcode">
        </div>
        <div style="margin-bottom: 20px;text-align: center;">
          <input type="text" name="country" style="text-align: center;width: 40%;border-radius: 5px;border:2px solid #343a40; color: #343a40;height: 45px;" placeholder="Class">
        </div>
        <div  style="text-align: center;">
          <button class="btn upload-btn" type="button" style="margin-right: 40px;background-color: #343a40;color: white; border-radius: 4px;border:2px solid #343a40">Upload File</button>
          <input type="file" name="upload"  id="upload-input" style="display:none">
          <button class="btn" style="background-color: #343a40;color: white; border-radius: 4px;border:2px solid #343a40">Add Group</button>
        </div>
        
       </form>
   </div>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="/js/upload.js"></script>   
</body>
</html>